    <!-- About Section -->
    <section id="evenements" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Évènements</h2>
            </div>
        </div>
        <div class="row">
          <h3>Plateaux: 16 au 19 Mai</h3>
          <div class="col">
            <a href="http://sat.qc.ca/fr/evenements/plateaux#section" target="_blank">
              <img class="poster" src="img/plateaux.jpg">
            </a>
          </div>
          <br>
          <h3>Substrate: 20 Mai</h3>
          <div class="col">
            <a href="http://sat.qc.ca/substrate#section" target="_blank">
              <img class="poster" src="img/substrate.jpg">
            </a>
          </div>
        </div>
    </section>