    <!-- Evenements Section -->
    <section id="evenements" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Évènements</h2>
            </div>
        </div>
        <div class="row">
          <h3>/ IS //// IS ////////// + PLATEAUX: 1er Juin</h3>
          <div class="col">
            <a href="http://ix.sat.qc.ca/node/744" target="_blank">
              <img class="poster" src="img/2vincents.jpg">
            </a>
          </div>
          <br>
        </div>
    </section>